.App {
  margin-top: 3em;
  padding: 0;
  margin-bottom: 3em;     
}

a {
    color: #262626;
    text-decoration: none !important;
}

.card-deck{
    margin-top: 1.2em;
}

.card-body{
    border-bottom: solid 1.75px #737373;
    border-left: solid 1.75px #737373;
    border-right: solid 1.75px #737373;
    margin-bottom: 2em;
    padding: .5em;
}


.card-inline{
    display: inline-block;
}

.col-md-12{
    margin-bottom: 1em;
}

.page-header{
    margin-top: 1.5em;
    margin-bottom: 1em;
    text-decoration: none;
}

.img-responsive{
    margin-bottom: 1.5em;
}

img{
    border: solid 2px #737373;
    margin-left: auto;
    margin-right: auto;
}

.link{
    font-size: .8em;
    margin-bottom: 3em;
    margin-top: .5em;
}

.nav.nav-justified a{    
    background-color: white;
    border-color: white;
    background-image: none;
    box-shadow: none !important;
    background: white !important;
}

.paragraph {
  margin-top: .75em;
  margin-bottom: 2em;
  text-align: justify;
  line-height: 1.90em;
  color: #262626;
}








