.App {
  margin-top: 1.5em;
  padding: 0;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

a {
    color: #262626;
    text-decoration: none !important;
}

.card-deck{
    margin-top: 1.2em;
}

.card-body{
    border: solid 1.5px #cccccc;
    margin-bottom: 2em;
    padding: .5em;
}

.col-md-12{
    margin-top: 1em;
}

.img-responsive{
    height: 80%;
    width: 80%;
    margin-bottom: 1.5em;
}


img{
    border-top: solid 1px #cccccc;
    border-left: solid 1px #cccccc;
    border-right: solid 1px #cccccc;
    margin-left: auto;
    margin-right: auto;
}

.paragraph {
  margin-top: .75em;
  margin-bottom: 2em;
  text-align: justify;
  line-height: 1.90em;
  color: #262626;
}






