.App {
  margin-top: 1em;
  
}

.App .navbar-brand {
  font-weight: normal;
}

.navbar-default {
    background-color: white;
    border-color: white;
    background-image: none;
    border: none !important;
    box-shadow: none !important;
}

.App-photo {
  margin: 1em;
  height: 30em;
}

.App-header {
  background-color: #fff;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

h2{
  color: #000000;
}