.App {
  margin-top: 2em;
  padding: .5em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.App .navbar-brand {
  font-weight: normal;
}

.App-header {
  background-color: #fff;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.App-photo {
  margin: 1em;
  height: 30em;
}


h2{
  color: #000000;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active{
    border-bottom: 3.5px solid #0caed6;
}

.navbar-default {
    background-color: white;
    border-color: white;
    background-image: none;
    border: none !important;
    box-shadow: none !important;
    padding-bottom: .6em;
}

.navbar-default .navbar-nav >.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: white;
    border-color: white;
    background-image: none;
    box-shadow: none !important;
    background: white !important;
    border-bottom: 3.5px solid #0caed6;
}


ul.nav a:hover { 
    background-color: transparent;
}

footer{
    margin-top: 5%;
}

NavItem{
    margin: .1em;
}

@media screen and (max-width: 767px) {
    body {
        font-size: 0.8em;
    }
    .container{
        width:90%;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    body {
        font-size: 1.2em;
    }
}

/* md */
@media screen and (min-width: 992px) {
    body {
        font-size: 1.4em;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    body {
        font-size: 2em;
    }
}