.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
}

.App-photo {
  margin: 1em;
  height: 30em;
}

.App-header {
  background-color: #fff;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

h2{
  color: #000000;
}