html, body {
   margin:0;
   padding:0;
   height:100%;
}

body {
  margin: 0;
  padding-top: 1em;
  font-family: "Montserrat", sans-serif;
  font-size: 1.9em;
  color: #333;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto";
  color: #262626;
  letter-spacing: 2px;
}

p{
  font-family: "Open Sans", sans-serif;
  color: #333333;
  font-weight: 100;
}

.menu {
  list-style: none; 
  /* Important for sizing problems when you add/remove the submenus 
     Make it use 100% of the size of your container */
  width: 100%;
  /* This prevents a lot of problems with the submenus. 
     UL have basic padding, keep that in mind */
  padding: 0;
}





select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}
input[type=file] {
  width: 100%;
}